.myStyleThurs{
    padding: 125px;
    background-image: url("https://www.ecopetit.cat/wpic/mpic/244-2443764_orange-paint-texture-paint-strokes-orange-background-yellow.jpg"); 
    display: flex; 
    justify-content: center;  
    align-items: center;
    color:rgb(223, 73, 14);
    flex-direction: column;
    border: 1px solid white;
    font-family: 'Itim', cursive;

}

.myVi4{
    font-family: 'Itim', cursive;
    color:black;
    display: flex;
    justify-content: center;  
    align-items: center;
    margin: 10;
    padding: 10;
  }
  .myVi{
    font-family: 'Itim', cursive;
    color:black;
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column;
    margin: 10;
  }

  .li4{
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    color:black;
    font-family: 'Itim', cursive;
}